body {
    background-color: rgba(161, 59, 59, 0.664);
}

/*style heading*/

.heading {
    font-size: 4em;
    text-align: center;
}

.logo-img {
    width: 84px;
    height: 128px;
    padding-right: 20px;
    padding-left: 20px;
}

/*style heading2*/

.heading2 {
    text-align: center;
}

.instructions-button {
    margin-left: 10px;  
}